.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
  text-align: center;

  &_input {
    padding: 0.5rem;
    min-width: 50%;
    border: 1px solid gray;
    border-radius: 4px;
  }
}
